<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Информация о студенте</title>

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/favicon.ico">
</head>

<body>

<header class="page-header">
    <h1>Информация о студенте</h1>

    <a href="/" class="add-button">
        ← Назад к списку
    </a>
</header>

<main>
    <section id="studentDetails" class="student-details">
    </section>
</main>

<script src="/static/js/db.js"></script>
<script src="/static/js/details.js"></script>
</body>
</html>